.Color {
    color: red;
}

.Plate {
    color: rgb(0, 0, 0);
}

.Joke_Delivery {
    color: wheat;
}

.Movie_Card {
    background: rgb(0, 0, 0);
}

.Refresh {
    color: "success";
    background: teal;
    color: azure;
}

.Movie_Specs {
    color: black;
}

.Inputs{
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    padding-left: 0ch;
}