.Joke_Color {
    color: red;
}

.Joke_Category {
    color: rgb(0, 0, 0);
}

.Joke_Delivery {
    color: wheat;
}

.Movie_Card {
    background: rgb(0, 0, 0);
}

.Joke_Refresh {
    color: "success";
    background: teal;
    color: azure;
}

.Movie_Specs {
    color: black;
}

.Movie_Inputs{
    color: rgb(0, 0, 0);
    background-color: whitesmoke;
    padding-left: 0ch;
}